<div class="row">
  <div class="col-md-6">
    <div class="product-top">
      <img class="border border-success" src="assets/images/group/dijetetski_suplementi.jpg" alt="Nema slike" >
  <div class="overlay">
    <button pButton type="button" label="Dijetetski suplementi" routerLink="/products/Dijetetski suplementi" icon="pi pi-directions"></button>
     </div>
     </div>
  </div>

  <div class="col-md-6">
    <div class="product-top">
      <img class="border border-success" src="assets/images/group/dermokozmetika.jpg" alt="Nema slike" >
    <div class="overlay">
      <button pButton type="button" label="Dermokozmetika" routerLink="/products/Dermokozmetika"  icon="pi pi-directions"></button>
     </div>
     </div>
  </div>
  <div class="w-100" style="margin-top: 20px;"></div>

  <div class="col-md-6">
    <div class="product-top">
      <img class="border border-success" src="assets/images/group/bebe_i_deca.jpg" alt="Nema slike" >
    <div class="overlay">
      <button pButton type="button" label="Bebe i deca" routerLink="/products/Bebe i deca"  icon="pi pi-directions"></button>
     </div>
     </div>
  </div>

  <div class="col-md-6">
    <div class="product-top">
      <img class="border border-success" src="assets/images/group/licna_higijena.jpg" alt="Nema slike" >
    <div class="overlay">
      <button pButton type="button" label="Lična higijena" routerLink="/products/Lična higijena" icon="pi pi-directions"></button>
     </div>
  </div>
</div>
</div>

 <!--
<div class="row">
  <div class="col" style="margin-top: 40px; margin-left: 8%;">
    <div class="product-top-a">
      <img class="border border-success rounded" src="assets/images/group/dijetetski_suplementi.jpg" style="margin-right: 20%;" alt="Nema slike" >
      <div class="overlay">
        <p>Cao1</p>
       </div>
      <img class="border border-success rounded" src="assets/images/group/dermokozmetika.jpg" alt="Nema slike" >
    <div class="overlay">
      <p>Cao2</p>
     </div>
  </div>

  </div>
  <div class="w-100"></div>
  <div class="col" style="margin-top: 40px; margin-left: 8%">
    <img class="border border-success rounded" src="assets/images/group/bebe_i_deca.jpg" style="margin-right: 20%;" alt="Nema slike" >
 <img class="border border-success rounded" src="assets/images/group/licna_higijena.jpg" alt="Nema slike" >
</div>

</div> OVDEE -->



 <!-- <div class="border border-primary rounded p-4 w-30" style="position: fixed; top: 10; right: 0;">
  <app-shopping-cart></app-shopping-cart>
</div>
<div class="row">  -->
<!-- <div *ngFor="let group of listOfGroups">
   <div class="col-md-5" *ngFor="let group of listOfGroups">
      <div class="product-top">

      <img class="border border-success rounded" src="{{group.groupImgPath}}" alt="Nema slike" >
        <div class="overlay">
        <button pButton type="button" label="Add to cart" icon="pi pi-shopping-cart"></button>
        </div>
      </div>
      <div class="product-bottom text-center">
            {{group.name}}
      </div>
    </div>
  </div> -->
 <!-- </div> -->







