
<div class="row">
  <div class="col-md-6">
    <div class="product-top">
      <img class="border border-success" src="assets/images/group/dijetetski_suplementi.jpg" alt="Nema slike" >
  <div class="overlay" style="width: 100%">
    <button pButton type="button" label="Dijetetski suplementi" routerLink="/products/Dijetetski suplementi" icon="pi pi-directions"></button>
     </div>
     </div>
  </div>

  <div class="col-md-6">
    <div class="product-top">
      <img class="border border-success" src="assets/images/group/dermokozmetika.jpg" alt="Nema slike" >
    <div class="overlay" style="width: 100%">
      <button pButton type="button" label="Dermokozmetika" routerLink="/products/Dermokozmetika"  icon="pi pi-directions"></button>
     </div>
     </div>
  </div>
  <div class="w-100" style="margin-top: 20px;"></div>

  <div class="col-md-6">
    <div class="product-top">
      <img class="border border-success" src="assets/images/group/bebe_i_deca.jpg" alt="Nema slike" >
    <div class="overlay" style="width: 100%">
      <button pButton type="button" label="Bebe i deca" routerLink="/products/Bebe i deca"  icon="pi pi-directions"></button>
     </div>
     </div>
  </div>

  <div class="col-md-6">
    <div class="product-top">
      <img class="border border-success" src="assets/images/group/licna_higijena.jpg" alt="Nema slike" >
    <div class="overlay" style="width: 100%">
      <button pButton type="button" label="Lična higijena" routerLink="/products/Lična higijena" icon="pi pi-directions"></button>
     </div>
  </div>
</div>
</div>
